@media screen and (max-width: 1000px) {
    #desktop-nav{
        display: none;
    }

    #hamburger-nav{ 
        display: flex;
    }
}


@media screen and (max-width: 1400px) {

    .menu-links{
        position: absolute;
        left: -2rem;
        
    }
    
    #profile{
        height: 83vh;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 6rem;
    }



    .section_pic-container{
        width: 70px;
        position: relative;
        left: 5rem;

    }

    .section_text{
        margin-top: 0;
        position: absolute;
        left: 3.75rem;
    }

    .about-pic{
        position: relative;
        bottom: 4rem;
        width: 200px;
        height: 200px;
    }

    .about-container{
        flex-wrap: wrap;
    }

    #experience, .experience-details-container{
        margin-top: 2rem;
    }

    #profile, .section-container{
        display: block;
    }

    .arrow{
        display: none;
    }

    section, .section-container{
      height: fit-content;        
    }

    section{
        margin: 0 5%;
    }

    .section_pic-container{
        width: 175px;
        height: 175px;
    }

    .about-container{
        margin-top: 0;
    }

    #contact,footer{
        height: 40vh;
    }

    article{
        font-size: 1rem;
    }

    footer nav{
        height: fit-content;
        margin-bottom: 1rem;
    }
    
   .contact-info-upper-container{
    width: 200px;
   }

    .about-container,
    .contact-info-upper-container,
    .btn-container{
     flex-wrap: wrap;
    }
 
    .contact-info-container{
     margin: 0;
    }

    .contact-info-container p,.nav-links li a{
        font-size: 1rem;
    }

    .title{
        font-size: 2rem;
    }
   
    .logo{
        font-size: 1.5rem;
    }

    

}

